{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Гостевая книга{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <main class="container">
      {% block content %}{% endblock %}
      {% if messages %}
        <ul class="messages">
            {% for m in messages %}<li class="msg {{ m.tags }}">{{ m }}</li>{% endfor %}
        </ul>
      {% endif %}
    </main>
  </body>
  <header class="topbar">
    <nav>
      <a href="{% url 'guestbook' %}">Главная</a>
      <span class="spacer"></span>
      {% if user.is_authenticated %}
        <span>Вы вошли как {{ user.username }}</span>
        <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'signup' %}">Регистрация</a>
      {% endif %}
    </nav>
  </header>
</html>

